<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExerciseActivity"
            android:label="@string/exercise_activity"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".UserExerciseActivity"
            android:label="@string/user_exercise_activity"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".RoutineExerciseActivity"
            android:label="@string/routine_exercise_activity"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".RecordActivity"
                  android:label="@string/record_activity"
                  android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".PlayExerciseActivity"
                  android:label="@string/play_exercise_activity"
                  android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".SocialActivity"
                  android:label="@string/social_activity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name"/>
        <provider
            android:authorities="com.facebook.app.FacebookContentProvider141770219518528"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
    </application>

</manifest>
